$primary-color: 'blue';

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
}

.profile {
    min-height: 430px;
    display: inline-block;
}

.divider {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}

.blended-in-text {
    border: none;
    background-color: #f5f5f5;
    min-width: 400px;
    box-shadow: none;
}

input:focus {
    outline: 0 none;
}

.clearfix {
    clear: both;
}

.no-top-margin {
    margin-top: 0;
}

.margin-bottom {
    margin-bottom: 10px;
}
